#S1{
background-color: red;
color: black;
height:100px;
width:100px
}

#S2{

}

#S3{

}

#S4{

}

#K1{
background-image:url("Tree.jpg");
background-size:cover;
background-repeat:no-repeat;
position: relative;
left: 300px;
top: 1000px;
height: 100px;
width: 200px;
}